/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-platypusindelcalling -profile dkfz_cluster,singularity --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_contact = 'Kübra Narcı kuebra.narci@dkfz-heidelberg.de'
    config_profile_name        = 'Test profile for DKFZ cluster'
    config_profile_description = 'Test dataset for to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 20
    max_memory = '250.GB'
    max_time   = '48.h'

    // Input data
    input  = 'assets/samplesheet_cluster.csv'

    // Genome references
    genome                     = 'hg19'

    // workflow parameters
    outdir                     = 'results'


    // Post Processes
    runIndelAnnotation         = true
    runIndelDeepAnnotation     = true
    runIndelVCFFilter          = true
    runTinda                   = true

    // depends on reference control !! this wont be default instead will be controled by ref type
    chr_prefix                 ='chr'
    chr_suffix                 ='""'

    //Platypus options
    platypus_params            = " --genIndels=1 --genSNPs=1 --verbosity=1 --bufferSize=100000 --maxReads=5000000 --minFlank=0"

    // Annotate Table options
    padding                    = 10
    minoverlapfraction         = 0.7
    maxborderdist              = 20
    maxmatches                 = 5

    // Annovar
    // only option is hg19 now!

    buildver                   = 'hg19'
    dbtype                     = 'wgEncodeGencodeCompV19'
    segdupcol                  = "SEGDUP"
    cytobandcol                = "CYTOBAND"
    geneannocols               = '"ANNOVAR_FUNCTION,GENE,EXONIC_CLASSIFICATION,ANNOVAR_TRANSCRIPTS"'

    // confidence annotation options
    confidence_opts_indel      = ""

    //// filtering options: only if there is no control these filtering measures will be applied
    // add " EVS MAF VALUE+" to filter_values parameter for EVS db (1)
    // add " ExAC AF VALUE+" to filter_values parameter for ExAC db (0.01)
    // add " GNOMAD_EXOMES AF VALUE+" to filter_values parameterfor gnomAD exomes db (0.001)
    // add " GNOMAD_GENOMES AF VALUE+" to filter_values parameter for gnomAD genomes db (0.001)
    // add " DBSNP CLN,COMMON nonexist,exist" to filter_values parameter to filtering clinical variants
    // add " 1K_GENOMES EUR_AF VALUE+" to filter_values parameter for 1k genomes db  for EUR (0.01)
    // add " LocalControlAF_WGS AF VALUE+ LocalControlAF_WES AF VALUE+" to filter_values parameter for Local control (0.01)
    // add " LocalControlAF_WGS . VALUE+" to filter_values parameter to filter recurrance (7)

    min_confidence_score       = 8
    filter_values              = " GNOMAD_EXOMES AF 0.001+ GNOMAD_GENOMES AF 0.001+"


    // screenshot options
    max_var_screenshots        = 100
    window_size                = 100
    repeat_masker              = ''

    // runtinda options
    normal_header_pattern      = 'blood'
    tumor_header_pattern       = 'tumor'
    seqtype                    = 'WGS'
    right_border               = 0.45
    bottom_border              = 0.01
    maf_threshold              = 0


    // Files //
    reference                  ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/sequence/1KGRef_Phix/hs37d5_PhiX.fa'

    // Annotation files
    k_genome                   ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/1000genomes/ALL.wgs.phase1_integrated_calls.20101123.indels_plain.vcf.gz'
    dbsnp_indel                ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/dbSNP/dbSNP_147/00-All.INDEL.vcf.gz'
    dbsnp_snv                  ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/dbSNP/dbSNP_147/00-All.SNV.vcf.gz'
    exac_file                  ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/ExAC/ExAC_nonTCGA.r0.3.1.sites.vep.vcf.gz'
    evs_file                   ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/EVS/ESP6500SI-V2-SSA137.updatedProteinHgvs.ALL.snps_indels.vcf.gz'
    local_control_wgs          ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/LocalControls/ExclusionList_2019/MPsnvs_PLindels/ExclusionList_2019_HIPO-PCAWG_MP_PL_WGS.INDELs.AFgt1.vcf.gz'
    local_control_wes          ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/LocalControls/ExclusionList_2019/MPsnvs_PLindels/ExclusionList_2019_H021_MP_PL_WES.INDELs.AFgt1.vcf.gz'
    gnomad_genomes             ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/gnomAD/gnomad_v2.1/gnomad.genomes.r2.1.sites.SNV-INDEL.vcf.gz'
    gnomad_exomes              ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/gnomAD/gnomad_v2.1/gnomad.exomes.r2.1.sites.SNV-INDEL.vcf.gz'

    // Annovar files
    table_folder               ='/omics/odcf/reference_data/legacy/ngs_share/annovar/annovar_Feb2016/humandb/'
    annovar_path               ='/omics/odcf/reference_data/legacy/ngs_share/annovar/annovar_Feb2016'

    // INDEL reability files
    repeat_masker              ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/UCSC/Sept2013/UCSC_27Sept2013_RepeatMasker.bed.gz'
    dac_blacklist              ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/UCSC/DACBlacklist_chr.bed.gz'
    duke_excluded              ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/UCSC/DukeExcluded_chr.bed.gz'
    hiseq_depth                ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/UCSC/HiSeqDepthTop10Pct_chr.bed.gz'
    self_chain                 ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/UCSC/selfChain_chr.bed.gz'
    mapability_file            ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/UCSC/wgEncodeCrgMapabilityAlign100mer_chr.bedGraph.gz'
    simple_tandemrepeats       ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/UCSC/repeats/SimpleTandemRepeats_chr.bed.gz'

    // Deep Annotation files
    enchancer_file             ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/UCSC/Enhancers_Vista_2011_01_14_chr.bed.gz'
    cpgislands_file            ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/UCSC/Sept2013/UCSC_27Sept2013_CpG_islands.bed.gz'
    tfbscons_file              ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/UCSC/tfbsConsSites_noncoding_merged_chr.bed.gz'
    encode_dnase_file          ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/UCSC/Sept2013/UCSC_27Sept2013_DNase_cluster_V2.bed.gz'
    mirnas_snornas_file        ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/miRNA/miRNA_snoRNAs_miRBaseRelease15_chr.bed.gz'
    mirbase_file               ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/miRNA/miRBase_version-18_chr.bed.gz'
    cosmic_file                ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/COSMIC/Cosmic_v77_hg19_coding_SNVs.bed.gz'
    mir_targets_file           ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/miRNA/miRNAsites_TargetScan_BartelLab_2011_01_14_chr.bed.gz'
    cgi_mountains_file         ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/CustomDeepAnnotation/CgiMountains_chr.bed.gz'
    phastconselem_file         ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/UCSC/phastConsElem_min20bp_chr.bed.gz'
    encode_tfbs_file           ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/UCSC/Sept2013/UCSC_27Sept2013_wgEncodeRegTfbsClusteredV3.bed.gz'

    // TiNDA files
    chrlength_file             ='assets/chrlengths.plain.sorted.txt'
    genemodel_bed              ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/databases/gencode/gencode19/GencodeV19_Exons_plain.bed.gz'
    exomecapturekit_bed        ='/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg19_GRCh37_1000genomes/targetRegions/Agilent5withUTRs_plain.bed.gz'
}


// Perform work directory cleanup when the run has succesfully completed
// cleanup = true

// Reduce the job submit rate to about 5 per second, this way the server won't be bombarded with jobs
executor {
    submitRateLimit = '3 sec'
}

singularity {
  enabled = true
  cacheDir = "/omics/groups/OE0608/internal/kubran/singularity"
  autoMounts = true
  runOptions = '-B /omics/groups -B /omics/odcf/analysis -B /omics/odcf/project -B /omics/odcf/reference_data'
}
env {
    SINGULARITY_CACHEDIR="/omics/groups/OE0608/internal/kubran/singularity"
    SINGULARITY_LIBRARYDIR="/omics/groups/OE0608/internal/kubran/singularity/library"
}

process {
  executor = 'lsf'
  scratch = '$SCRATCHDIR/$LSB_JOBID'

}
executor {
  name = 'lsf'
  perTaskReserve = false
  perJobMemLimit = true
  }
