/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/platypusindelcalling -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input                     = 'assets/samplesheet.csv'

    // Genome references
    genome                     = 'hg19'

    // workflow parameters
    outdir                     = 'results'

    // Post Processes
    runIndelAnnotation         = true
    runIndelDeepAnnotation     = true
    runIndelVCFFilter          = true
    runTinda                   = true

    // depends on reference control !! this wont be default instead will be controled by ref type
    chr_prefix                 =''
    chr_suffix                 =''

    // Annotate Table options
    padding                    = 10
    minoverlapfraction         = 0.7
    maxborderdist              = 20
    maxmatches                 = 5

    // Annovar
    buildver                   = null
    dbtype                     = null
    segdupcol                  = '""'
    cytobandcol                = '""'
    geneannocols               = '""'

    // only option is hg19 now!

    buildver                   = 'hg19'
    dbtype                     = 'wgEncodeGencodeCompV19'
    segdupcol                  = '"SEGDUP"'
    cytobandcol                = '"CYTOBAND"'
    geneannocols               = '"ANNOVAR_FUNCTION,GENE,EXONIC_CLASSIFICATION,ANNOVAR_TRANSCRIPTS"'

    // confidence annotation options
    confidence_opts_indel      = ""

    // filtering options: only if there is no control these filtering measures will be applied
    filter_recurrance          = false
    crit_exac_maxmaf           = 1
    crit_evs_maxmaf            = 1
    crit_gnomad_exomes_maxmaf  = 0.001
    crit_gnomad_genomes_maxmaf = 0.001
    crit_1kgenomes_maxmaf      = 0.01
    crit_recurrance            = 7
    crit_localcontrol_maxmaf   = 0.01
    min_confidence_score       = 8
    add_filter_opt             = "''"

    // screenshot options
    max_var_screenshots        = 1
    window_size                = 1
    repeat_masker              = ''


    // Files
    reference                  ='/Users/kubranarci/Desktop/Workflows/data_test/REF/human_g1k_v37_decoy.fasta'

    k_genome                   ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/ALL.wgs.phase1_integrated_calls.20101123.indels_plain.vcf.gz'
    dbsnp_indel                ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/00-All.INDEL.vcf.gz'
    dbsnp_snv                  ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/00-All.SNV.vcf.gz'
    exac_file                  ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/ExAC_nonTCGA.r0.3.1.sites.vep.vcf.gz'
    evs_file                   ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/ESP6500SI-V2-SSA137.updatedProteinHgvs.ALL.snps_indels.vcf.gz'
    local_control_wgs          ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/ExclusionList_2019_HIPO-PCAWG_MP_PL_WGS.INDELs.AFgt1.vcf.gz'
    local_control_wes          ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/ExclusionList_2019_H021_MP_PL_WES.INDELs.AFgt1.vcf.gz'
    gnomed_genomes             ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/gnomad.genomes.r2.1.sites.SNV-INDEL.vcf.gz'
    gnomed_exomes              ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/gnomad.exomes.r2.1.sites.SNV-INDEL.vcf.gz'

    table_folder               = '/Users/kubranarci/Desktop/Workflows/Annovar/humandb/'
    annovar_path               ='/Users/kubranarci/Desktop/Workflows/Annovar/annovar_Feb2016'

    repeat_masker              ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/UCSC/UCSC_27Sept2013_RepeatMasker.bed.gz'
    dac_blacklist              ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/UCSC/DACBlacklist_chr.bed.gz'
    duke_excluded              ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/UCSC/DukeExcluded_chr.bed.gz'
    hiseq_depth                ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/UCSC/HiSeqDepthTop10Pct_chr.bed.gz'
    self_chain                 ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/UCSC/selfChain_chr.bed.gz'
    mapability_file            ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/UCSC/wgEncodeCrgMapabilityAlign100mer_chr.bedGraph.gz'
    simple_tandemrepeats       ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/UCSC/SimpleTandemRepeats_chr.bed.gz'

    enchancer_file             ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/DeepAnnotation/Enhancers_Vista_2011_01_14_chr.bed.gz'
    cpgislands_file            ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/DeepAnnotation/UCSC_27Sept2013_CpG_islands.bed.gz'
    tfbscons_file              ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/DeepAnnotation/tfbsConsSites_noncoding_merged_chr.bed.gz'
    encode_dnase_file          ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/DeepAnnotation/UCSC_27Sept2013_DNase_cluster_V2.bed.gz'
    mirnas_snornas_file        ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/DeepAnnotation/miRNA_snoRNAs_miRBaseRelease15_chr.bed.gz'
    mirbase_file               ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/DeepAnnotation/miRBase_version-18_chr.bed.gz'
    cosmic_file                ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/DeepAnnotation/Cosmic_v77_hg19_coding_SNVs.bed.gz'
    mir_targets_file           ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/DeepAnnotation/miRNAsites_TargetScan_BartelLab_2011_01_14_chr.bed.gz'
    cgi_mountains_file         ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/DeepAnnotation/CgiMountains_chr.bed.gz'
    phastconselem_file         ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/DeepAnnotation/phastConsElem_min20bp_chr.bed.gz'
    encode_tfbs_file           ='/Users/kubranarci/Desktop/Workflows/Annovar/annotatedir/DeepAnnotation/UCSC_27Sept2013_wgEncodeRegTfbsClusteredV3.bed.gz'
}

