/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test_igenomes_38,singularity --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_contact     = 'Kübra Narcı kuebra.narci@dkfz-heidelberg.de'
    config_profile_name        = 'Test profile for DKFZ cluster'
    config_profile_description = 'Test dataset for to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 30
    max_memory = '250.GB'
    max_time   = '48.h'

    // Input data
    input  = 'assets/samplesheet_test.csv'

    // workflow parameters
    outdir                     = "results"

    // Post Processes
    runIndelAnnotation         = false
    runIndelDeepAnnotation     = false
    runIndelVCFFilter          = false
    runTinda                   = false
    skip_multiqc               = false

    // Reference Files //
    genome                     = "hg38"
    chr_prefix                 = "chr" 

}


// Perform work directory cleanup when the run has succesfully completed
 cleanup = true

// Reduce the job submit rate to about 5 per second, this way the server won't be bombarded with jobs
executor {
    submitRateLimit = '3 sec'
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "-B /omics/groups"
}
env {
    SINGULARITY_CACHEDIR="/omics/groups/OE0246/shared/nf_cache_dir"
    SINGULARITY_LIBRARYDIR="/omics/groups/OE0608/internal/kubran/singularity/library"
}

process {
  executor = 'lsf'
  scratch = '$SCRATCHDIR/$LSB_JOBID'

}
executor {
  name = 'lsf'
  perTaskReserve = false
  perJobMemLimit = true
  queueSize = 10
  }
