/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-platypusindelcalling -profile test_full,docker --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile for local computer with docker'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input                     = 'assets/samplesheet2.csv'

    // Genome references
    genome                     = 'hg19'

    // workflow parameters
    outdir                     = 'results'

    // Post Processes
    runIndelAnnotation         = true
    runIndelDeepAnnotation     = true
    runIndelVCFFilter          = true
    runTinda                   = true

    // depends on reference control !! this wont be default instead will be controled by ref type
    chr_prefix                 ='chr'
    chr_suffix                 =''

    // Annotate Table options
    padding                    = 10
    minoverlapfraction         = 0.7
    maxborderdist              = 20
    maxmatches                 = 5

    // Annovar

    // only option is hg19 now!

    buildver                   = 'hg19'
    dbtype                     = 'wgEncodeGencodeCompV19'
    segdupcol                  = '"SEGDUP"'
    cytobandcol                = '"CYTOBAND"'
    geneannocols               = '"ANNOVAR_FUNCTION,GENE,EXONIC_CLASSIFICATION,ANNOVAR_TRANSCRIPTS"'

    // confidence annotation options
    confidence_opts_indel      = ""

    // filtering options: only if there is no control these filtering measures will be applied
    filter_recurrance          = false
    crit_exac_maxmaf           = 1
    crit_evs_maxmaf            = 1
    crit_gnomad_exomes_maxmaf  = 0.001
    crit_gnomad_genomes_maxmaf = 0.001
    crit_1kgenomes_maxmaf      = 0.01
    crit_recurrance            = 7
    crit_localcontrol_maxmaf   = 0.01
    min_confidence_score       = 8
    add_filter_opt             = "''"

    // screenshot options
    max_var_screenshots        = 0
    window_size                = 100
    repeat_masker              = ''

    // runtinda options
    normal_header_pattern      = 'blood'
    tumor_header_pattern       = 'tumor'
    seqtype                    = 'WES'
    right_border               = 0.45
    bottom_border              = 0.01
    maf_threshold              = 0.001


     // Files //
     db_base_dir                ='/Users/kubranarci/Desktop/Workflows/mount1/databases'
     reference                  ='/Users/kubranarci/Desktop/Workflows/mount1/sequence/1KGRef_Phix/hs37d5_PhiX.fa'

     // Annotation files
     k_genome                   ='../mount1/databases/1000genomes/ALL.wgs.phase1_integrated_calls.20101123.indels_plain.vcf.gz'
     dbsnp_indel                ='../mount1/databases/dbSNP/dbSNP_147/00-All.INDEL.vcf.gz'
     dbsnp_snv                  ='../mount1/databases/dbSNP/dbSNP_147/00-All.SNV.vcf.gz'
     exac_file                  ='../mount1/databases/ExAC/ExAC_nonTCGA.r0.3.1.sites.vep.vcf.gz'
     evs_file                   ='../mount1/databases/EVS/ESP6500SI-V2-SSA137.updatedProteinHgvs.ALL.snps_indels.vcf.gz'
     local_control_wgs          ='../mount1/databases/LocalControls/ExclusionList_2019/MPsnvs_PLindels/ExclusionList_2019_HIPO-PCAWG_MP_PL_WGS.INDELs.AFgt1.vcf.gz'
     local_control_wes          ='../mount1/databases/LocalControls/ExclusionList_2019/MPsnvs_PLindels/ExclusionList_2019_H021_MP_PL_WES.INDELs.AFgt1.vcf.gz'
     gnomad_genomes             ='../mount1/databases/gnomAD/gnomad_v2.1/gnomad.genomes.r2.1.sites.SNV-INDEL.vcf.gz'
     gnomad_exomes              ='../mount1/databases/gnomAD/gnomad_v2.1/gnomad.exomes.r2.1.sites.SNV-INDEL.vcf.gz'

     // Annovar files
     table_folder               ='/Users/kubranarci/Desktop/Workflows/data/annovar/humandb/'
     annovar_path               ='/Users/kubranarci/Desktop/Workflows/data/annovar'

     // INDEL reability files
     repeat_masker              ='../mount1/databases/UCSC/Sept2013/UCSC_27Sept2013_RepeatMasker.bed.gz'
     dac_blacklist              ='../mount1/databases/UCSC/DACBlacklist_chr.bed.gz'
     duke_excluded              ='../mount1/databases/UCSC/DukeExcluded_chr.bed.gz'
     hiseq_depth                ='../mount1/databases/UCSC/HiSeqDepthTop10Pct_chr.bed.gz'
     self_chain                 ='../mount1/databases/UCSC/selfChain_chr.bed.gz'
     mapability_file            ='../mount1/databases/UCSC/wgEncodeCrgMapabilityAlign100mer_chr.bedGraph.gz'
     simple_tandemrepeats       ='../mount1/databases/UCSC/repeats/SimpleTandemRepeats_chr.bed.gz'

     // Deep Annotation files
     enchancer_file             ='../mount1/databases/UCSC/Enhancers_Vista_2011_01_14_chr.bed.gz'
     cpgislands_file            ='../mount1/databases/UCSC/Sept2013/UCSC_27Sept2013_CpG_islands.bed.gz'
     tfbscons_file              ='../mount1/databases/UCSC/tfbsConsSites_noncoding_merged_chr.bed.gz'
     encode_dnase_file          ='../mount1/databases/UCSC/Sept2013/UCSC_27Sept2013_DNase_cluster_V2.bed.gz'
     mirnas_snornas_file        ='../mount1/databases/miRNA/miRNA_snoRNAs_miRBaseRelease15_chr.bed.gz'
     mirbase_file               ='../mount1/databases/miRNA/miRBase_version-18_chr.bed.gz'
     cosmic_file                ='../mount1/databases/COSMIC/Cosmic_v77_hg19_coding_SNVs.bed.gz'
     mir_targets_file           ='../mount1/databases/miRNA/miRNAsites_TargetScan_BartelLab_2011_01_14_chr.bed.gz'
     cgi_mountains_file         ='../mount1/CustomDeepAnnotation/CgiMountains_chr.bed.gz'
     phastconselem_file         ='../mount1/databases/UCSC/phastConsElem_min20bp_chr.bed.gz'
     encode_tfbs_file           ='../mount1/databases/UCSC/Sept2013/UCSC_27Sept2013_wgEncodeRegTfbsClusteredV3.bed.gz'

     // TiNDA files
     chrlength_file             ='assets/chrlengths.plain.sorted.txt'
     genemodel_bed              ='../mount1/databases/gencode/gencode19/GencodeV19_Exons_plain.bed.gz'
     exomecapturekit_bed        ='../mount1/databases/../targetRegions/Agilent5withUTRs_plain.bed.gz'


}

