/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test,singularity
        nextflow run main.nf -profile test,docker    
----------------------------------------------------------------------------------------
*/

params {
    config_profile_contact     = 'Kübra Narcı kuebra.narci@dkfz-heidelberg.de'
    config_profile_name        = 'Test profile for pytest'
    config_profile_description = 'Use test dataset and test profile for pytest on github actions'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 8
    max_memory = '50.GB'
    max_time   = '48.h'

    // Input data
    input                      = "${projectDir}/testdata/samplesheet_test.csv"

    // workflow parameters
    outdir                      = "${projectDir}/results"

    // Post Processes
    runIndelAnnotation         = true
    runIndelDeepAnnotation     = true
    runIndelVCFFilter          = true
    runTinda                   = true
    skip_multiqc               = false
    min_confidence_score       = 0
    standard_vcf               = true
    runcontigs                = "NONE"


    // Reference Files //
    genome                     = "GRCh38"
    // runtinda options
    seqtype                    = "WGS"

    // Reference Files //
    fasta                      = '/omics/odcf/project/ODCF/reference_genomes/hg38_alts_decoys_phiX_masked_GRC/genome.fa'
    fasta_fai                  = '/omics/odcf/project/ODCF/reference_genomes/hg38_alts_decoys_phiX_masked_GRC/genome.fa.fai'
    chr_prefix                 = "chr"


    // Annotation with vep
    annotation_tool            = "annovar"
    buildver                   = "hg38"
    dbtype                     = "wgEncodeGencodeCompV39"
    segdupcol                  = "SEGDUP"
    cytobandcol                = "CYTOBAND"
    geneannocols               = '"ANNOVAR_FUNCTION,GENE,EXONIC_CLASSIFICATION,ANNOVAR_TRANSCRIPTS"'
    annovar_path               = "/omics/odcf/reference_data/legacy/ngs_share/assemblies/hg_GRCh38/databases/ANNOVAR/annovar_Sept2022"

     // Annotation files
    k_genome                   ="${projectDir}/testdata/annotation_files/kgenomes_snvindels.GRCh38.27022019.sites.test.vcf.gz"
    dbsnp_indel                ="${projectDir}/testdata/annotation_files/dbsnp_v151_GRCh38.INDEL.test.vcf.gz"
    local_control_wgs          ="${projectDir}/testdata/annotation_files/GRCh38_local_WGS.SNVs-INDELs.test.vcf.gz"
    local_control_wes          ="${projectDir}/testdata/annotation_files/GRCh38_local_H021_MP_PL_WES.INDELs.test.vcf.gz"   
    gnomad_genomes             ="${projectDir}/testdata/annotation_files/gnomad.genomes.r3.0.sites.INDEL.test.vcf.gz"
    gnomad_exomes              ="${projectDir}/testdata/annotation_files/gnomad.exomes.r2.sites.INDEL.test.vcf.gz"

    // INDEL reability files
    mapability_file            ="${projectDir}/testdata/annotation_files/GRCh38_Mappability.test.bedGraph.gz"
    repeat_masker              ="${projectDir}/testdata/annotation_files/RepeatMasker_Human_hg38.sorted_plain.test.bed.gz"
    simple_tandemrepeats       ="${projectDir}/testdata/annotation_files/SimpleTandemRepeats_Human_hg38.test.bed.gz"

    // Deep Annotation files
    cpgislands_file            ="${projectDir}/testdata/annotation_files/CpG_Islands_Human_hg38.sorted_plain.test.bed.gz"
    enchancer_file             ="${projectDir}/testdata/annotation_files/hg38.enhancers.test.bed.gz"

    // TiNDA files
    local_control_tinda_wgs    ="${projectDir}/testdata/annotation_files/GRCh38_local_WGS.SNVs-INDELs.test.vcf.gz"
    local_control_tinda_wes    ="${projectDir}/testdata/annotation_files/GRCh38_local_H021_MP_PL_WES.INDELs.test.vcf.gz"
    genemodel_bed              ="${projectDir}/testdata/annotation_files/gencode.v39.annotation.gene.bed"
    gnomad_genomes_tinda       ="${projectDir}/testdata/annotation_files/gnomad.genomes.r3.0.sites.INDEL.test.vcf.gz"
    gnomad_exomes_tinda        ="${projectDir}/testdata/annotation_files/gnomad.exomes.r2.sites.INDEL.test.vcf.gz"
}

// Perform work directory cleanup when the run has succesfully completed
 cleanup = true

// Reduce the job submit rate to about 5 per second, this way the server won't be bombarded with jobs
executor {
    submitRateLimit = '3 sec'
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "-B /omics/groups"
}
env {
    SINGULARITY_CACHEDIR="/omics/groups/OE0246/shared/nf_cache_dir"
    SINGULARITY_LIBRARYDIR="/omics/groups/OE0608/internal/kubran/singularity/library"
}

process {
  executor = 'lsf'
  scratch = '$SCRATCHDIR/$LSB_JOBID'

}
executor {
  name = 'lsf'
  perTaskReserve = false
  perJobMemLimit = true
  queueSize = 10
}