/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test,singularity
        nextflow run main.nf -profile test,docker    
----------------------------------------------------------------------------------------
*/

params {
    config_profile_contact     = 'Kübra Narcı kuebra.narci@dkfz-heidelberg.de'
    config_profile_name        = 'Test profile for pytest'
    config_profile_description = 'Use test dataset and test profile for pytest on github actions'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 8
    max_memory = '50.GB'
    max_time   = '48.h'

    // Input data
    input       = "${projectDir}/testdata/samplesheet_test.csv"

    // workflow parameters
    outdir      = "${projectDir}/results"

    // Post Processes
    runIndelAnnotation         = true
    runIndelDeepAnnotation     = true
    runIndelVCFFilter          = true
    runTinda                   = true
    skip_multiqc               = false
    min_confidence_score       = 0
    standard_vcf               = true


    // Reference Files //
    genome                     = "GRCh38"

    // Annotation with vep
    annotation_tool            = "vep"
    vep_cache_version          = 110
    vep_genome                 = 'GRCh38'
    vep_cache                  = null
    download_cache             = false  // DO NOT Download annotation cache

     // Annotation files
    k_genome                   ="${projectDir}/testdata/annotation_files/kgenomes_snvindels.GRCh38.27022019.sites.test.vcf.gz"
    dbsnp_indel                ="${projectDir}/testdata/annotation_files/dbsnp_v151_GRCh38.INDEL.test.vcf.gz"
    local_control_wgs          ="${projectDir}/testdata/annotation_files/GRCh38_local_WGS.SNVs-INDELs.test.vcf.gz"
    local_control_wes          ="${projectDir}/testdata/annotation_files/GRCh38_local_H021_MP_PL_WES.INDELs.test.vcf.gz"   
    gnomad_genomes             ="${projectDir}/testdata/annotation_files/gnomad.genomes.r3.0.sites.INDEL.test.vcf.gz"
    gnomad_exomes              ="${projectDir}/testdata/annotation_files/gnomad.exomes.r2.sites.INDEL.test.vcf.gz"

    // INDEL reability files
    mapability_file            ="${projectDir}/testdata/annotation_files/GRCh38_Mappability.test.bedGraph.gz"
    repeat_masker              ="${projectDir}/testdata/annotation_files/RepeatMasker_Human_hg38.sorted_plain.test.bed.gz"
    simple_tandemrepeats       ="${projectDir}/testdata/annotation_files/SimpleTandemRepeats_Human_hg38.test.bed.gz"

    // Deep Annotation files
    cpgislands_file            ="${projectDir}/testdata/annotation_files/CpG_Islands_Human_hg38.sorted_plain.test.bed.gz"
    enchancer_file             ="${projectDir}/testdata/annotation_files/hg38.enhancers.test.bed.gz"

    // TiNDA files
    local_control_tinda_wgs    ="${projectDir}/testdata/annotation_files/GRCh38_local_WGS.SNVs-INDELs.test.vcf.gz"
    local_control_tinda_wes    ="${projectDir}/testdata/annotation_files/GRCh38_local_H021_MP_PL_WES.INDELs.test.vcf.gz"
    genemodel_bed              ="${projectDir}/testdata/annotation_files/gencode.v39.annotation.gene.bed"
    gnomad_genomes_tinda       ="${projectDir}/testdata/annotation_files/gnomad.genomes.r3.0.sites.INDEL.test.vcf.gz"
    gnomad_exomes_tinda        ="${projectDir}/testdata/annotation_files/gnomad.exomes.r2.sites.INDEL.test.vcf.gz"
}

// Enable container engines/virtualisation envs for CI testing
// only works when specified with the profile ENV
// otherwise tests can be done with the regular provided profiles
if (System.getenv('PROFILE')) {
    if ("$PROFILE" == "docker") {
        conda.enabled                            = false
        docker.enabled                           = true
        docker.userEmulation                     = { params.use_gatk_spark ? false : true }.call()
        charliecloud.enabled                     = false
        podman.enabled                           = false
        shifter.enabled                          = false
        singularity.enabled                      = false
    } else if ("$PROFILE" == "singularity") {
        conda.enabled                            = false
        params.singularity_pull_docker_container = false
        singularity.autoMounts                   = true
        singularity.enabled                      = true
        charliecloud.enabled                     = false
        docker.enabled                           = false
        podman.enabled                           = false
        shifter.enabled                          = false
    }
}
process {
   withName:'PLATYPUS'{
        cpus            = { check_max( 2 * task.attempt, 'cpus' ) }
        memory          = { check_max( 6.GB * task.attempt, 'memory' ) }
   }
   // using vep online is only recommended for test purposes for a minimal set of variants!
    withName: ENSEMBLVEP_VEP {
        ext.args         ='--per_gene --total_length'
    }
}
