/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/platypusindelcalling -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = 'assets/samplesheet2.csv'

    // Genome references
    genome = 'hg19'

    // workflow parameters
    outdir = 'results'
    nocontrol= false

    // depends on reference control
    chr_prefix=''
    chr_suffix=''

    // annovar
    // only option is hg19 now!

    buildver = 'hg19'
    dbtype = 'wgEncodeGencodeCompV19'
    segdupcol = '"SEGDUP"'
    cytobandcol = '"CYTOBAND"'
    geneannocols='"ANNOVAR_FUNCTION,GENE,EXONIC_CLASSIFICATION,ANNOVAR_TRANSCRIPTS"'
    reference='/Users/kubranarci/Desktop/Workflows/data_test/REF/17.fasta'

}

